.wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--main-bg-color);
    display: flex;
  }
  
  .form {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #617bb0;
    gap: 1em;
    margin: auto;
    width: 80%;
    padding: 2em 2em;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
    h3 {
      font-size: 2.3rem;
      padding: 1em 2em;
      text-align: center;
    }
    @media screen and (min-width: 750px) {
      width: 30%;
    }
    @media screen and (min-width: 1000px) {
      width: 20%;
    }
  }
  
  .formLogin p {
    margin-bottom: 1em;
  }
  .formLogin input {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    padding: 5px 5px;
  }
  .inputDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3em;
  }
  .formButton {
    width: 60%;
    font-size: 1.1rem;
    padding: 0.5em 1em;
    margin: 1em auto;
    background: var(--main-bg-color);
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
  }
  .formButton:hover {
    background: linear-gradient(#39455c, #415a6f);
  }
  .formLink {
    text-decoration: none;
    color: #617bb0;
    font-size: 1rem;
    font-weight: 600;
  }
  .inputError {
    color: red;
    margin-top: 0.2em;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .formLogin {
      width: 50%;
    }
    .formLogin h2 {
      font-size: 2.5rem;
    }
    .formLogin input {
      font-size: 1.2rem;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .formLogin {
      width: 30%;
    }
    .formLogin h2 {
      font-size: 2.5rem;
    }
    .formLogin input {
      font-size: 1.2rem;
    }
  }