.wrapper{
    background-color: #f1d3a5;
    color:#647b43;
    padding: 1em 0.5em;

}
.text{
    text-align: justify;
    font-size: 20px;
}
.goBtn {
    font-size: large;
    padding: 0.5em 1em;
    border:2px solid #9f5950;
    background-color: #c97064;
    color: white;
    margin-top: 15px;
 
}
